*.cbp
*.save
*.depend
*.layout
[Bb]in
[Oo]bj
/[Dd]ebug
[Rr]elease
[Bb]uild
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
*.slo
*.lo
*.o
*.so
*.lai
*.la
*.a
*.bin
*.axf
*.map
